/* purgecss start ignore */
.theme-slate {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 248 250 252;
    --color-primary-100: 241 245 249;
    --color-primary-200: 226 232 240;
    --color-primary-300: 203 213 225;
    --color-primary-400: 148 163 184;
    --color-primary-500: 100 116 139;
    --color-primary-600: 71 85 105;
    --color-primary-700: 51 65 85;
    --color-primary-800: 30 41 59;
    --color-primary-900: 15 23 42;
}
.theme-gray {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 249 250 251;
    --color-primary-100: 243 244 246;
    --color-primary-200: 229 231 235;
    --color-primary-300: 209 213 219;
    --color-primary-400: 156 163 175;
    --color-primary-500: 107 114 128;
    --color-primary-600: 75 85 99;
    --color-primary-700: 55 65 81;
    --color-primary-800: 31 41 55;
    --color-primary-900: 17 24 39;
}
.theme-zinc {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 250 250 250;
    --color-primary-100: 244 244 245;
    --color-primary-200: 228 228 231;
    --color-primary-300: 212 212 216;
    --color-primary-400: 161 161 170;
    --color-primary-500: 113 113 122;
    --color-primary-600: 82 82 91;
    --color-primary-700: 63 63 70;
    --color-primary-800: 39 39 42;
    --color-primary-900: 24 24 27;
}
.theme-neutral {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 250 250 250;
    --color-primary-100: 245 245 245;
    --color-primary-200: 229 229 229;
    --color-primary-300: 212 212 212;
    --color-primary-400: 163 163 163;
    --color-primary-500: 115 115 115;
    --color-primary-600: 82 82 82;
    --color-primary-700: 64 64 64;
    --color-primary-800: 38 38 38;
    --color-primary-900: 23 23 23;
}
.theme-stone {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 250 250 249;
    --color-primary-100: 245 245 244;
    --color-primary-200: 231 229 228;
    --color-primary-300: 214 211 209;
    --color-primary-400: 168 162 158;
    --color-primary-500: 120 113 108;
    --color-primary-600: 87 83 78;
    --color-primary-700: 68 64 60;
    --color-primary-800: 41 37 36;
    --color-primary-900: 28 25 23;
}
.theme-red {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 254 242 242;
    --color-primary-100: 254 226 226;
    --color-primary-200: 254 202 202;
    --color-primary-300: 252 165 165;
    --color-primary-400: 248 113 113;
    --color-primary-500: 239 68 68;
    --color-primary-600: 220 38 38;
    --color-primary-700: 185 28 28;
    --color-primary-800: 153 27 27;
    --color-primary-900: 127 29 29;
}
.theme-orange {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 255 247 237;
    --color-primary-100: 255 237 213;
    --color-primary-200: 254 215 170;
    --color-primary-300: 253 186 116;
    --color-primary-400: 251 146 60;
    --color-primary-500: 249 115 22;
    --color-primary-600: 234 88 12;
    --color-primary-700: 194 65 12;
    --color-primary-800: 154 52 18;
    --color-primary-900: 124 45 18;
}
.theme-amber {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 255 251 235;
    --color-primary-100: 254 243 199;
    --color-primary-200: 253 230 138;
    --color-primary-300: 252 211 77;
    --color-primary-400: 251 191 36;
    --color-primary-500: 245 158 11;
    --color-primary-600: 217 119 6;
    --color-primary-700: 180 83 9;
    --color-primary-800: 146 64 14;
    --color-primary-900: 120 53 15;
}
.theme-yellow {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 254 252 232;
    --color-primary-100: 254 249 195;
    --color-primary-200: 254 240 138;
    --color-primary-300: 253 224 71;
    --color-primary-400: 250 204 21;
    --color-primary-500: 234 179 8;
    --color-primary-600: 202 138 4;
    --color-primary-700: 161 98 7;
    --color-primary-800: 133 77 14;
    --color-primary-900: 113 63 18;
}
.theme-lime {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 247 254 231;
    --color-primary-100: 236 252 203;
    --color-primary-200: 217 249 157;
    --color-primary-300: 190 242 100;
    --color-primary-400: 163 230 53;
    --color-primary-500: 132 204 22;
    --color-primary-600: 101 163 13;
    --color-primary-700: 77 124 15;
    --color-primary-800: 63 98 18;
    --color-primary-900: 54 83 20;
}
.theme-green {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 240 253 244;
    --color-primary-100: 220 252 231;
    --color-primary-200: 187 247 208;
    --color-primary-300: 134 239 172;
    --color-primary-400: 74 222 128;
    --color-primary-500: 34 197 94;
    --color-primary-600: 22 163 74;
    --color-primary-700: 21 128 61;
    --color-primary-800: 22 101 52;
    --color-primary-900: 20 83 45;
}
.theme-emerald {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 236 253 245;
    --color-primary-100: 209 250 229;
    --color-primary-200: 167 243 208;
    --color-primary-300: 110 231 183;
    --color-primary-400: 52 211 153;
    --color-primary-500: 16 185 129;
    --color-primary-600: 5 150 105;
    --color-primary-700: 4 120 87;
    --color-primary-800: 6 95 70;
    --color-primary-900: 6 78 59;
}
.theme-teal {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 240 253 250;
    --color-primary-100: 204 251 241;
    --color-primary-200: 153 246 228;
    --color-primary-300: 94 234 212;
    --color-primary-400: 45 212 191;
    --color-primary-500: 20 184 166;
    --color-primary-600: 13 148 136;
    --color-primary-700: 15 118 110;
    --color-primary-800: 17 94 89;
    --color-primary-900: 19 78 74;
}
.theme-cyan {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 236 254 255;
    --color-primary-100: 207 250 254;
    --color-primary-200: 165 243 252;
    --color-primary-300: 103 232 249;
    --color-primary-400: 34 211 238;
    --color-primary-500: 6 182 212;
    --color-primary-600: 8 145 178;
    --color-primary-700: 14 116 144;
    --color-primary-800: 21 94 117;
    --color-primary-900: 22 78 99;
}
.theme-sky {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 240 249 255;
    --color-primary-100: 224 242 254;
    --color-primary-200: 186 230 253;
    --color-primary-300: 125 211 252;
    --color-primary-400: 56 189 248;
    --color-primary-500: 14 165 233;
    --color-primary-600: 2 132 199;
    --color-primary-700: 3 105 161;
    --color-primary-800: 7 89 133;
    --color-primary-900: 12 74 110;
}
.theme-blue {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 239 246 255;
    --color-primary-100: 219 234 254;
    --color-primary-200: 191 219 254;
    --color-primary-300: 147 197 253;
    --color-primary-400: 96 165 250;
    --color-primary-500: 59 130 246;
    --color-primary-600: 37 99 235;
    --color-primary-700: 29 78 216;
    --color-primary-800: 30 64 175;
    --color-primary-900: 30 58 138;
}
.theme-indigo {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 238 242 255;
    --color-primary-100: 224 231 255;
    --color-primary-200: 199 210 254;
    --color-primary-300: 165 180 252;
    --color-primary-400: 129 140 248;
    --color-primary-500: 99 102 241;
    --color-primary-600: 79 70 229;
    --color-primary-700: 67 56 202;
    --color-primary-800: 55 48 163;
    --color-primary-900: 49 46 129;
}
.theme-violet {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 245 243 255;
    --color-primary-100: 237 233 254;
    --color-primary-200: 221 214 254;
    --color-primary-300: 196 181 253;
    --color-primary-400: 167 139 250;
    --color-primary-500: 139 92 246;
    --color-primary-600: 124 58 237;
    --color-primary-700: 109 40 217;
    --color-primary-800: 91 33 182;
    --color-primary-900: 76 29 149;
}
.theme-purple {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 250 245 255;
    --color-primary-100: 243 232 255;
    --color-primary-200: 233 213 255;
    --color-primary-300: 216 180 254;
    --color-primary-400: 192 132 252;
    --color-primary-500: 168 85 247;
    --color-primary-600: 147 51 234;
    --color-primary-700: 126 34 206;
    --color-primary-800: 107 33 168;
    --color-primary-900: 88 28 135;
}
.theme-fuchsia {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 253 244 255;
    --color-primary-100: 250 232 255;
    --color-primary-200: 245 208 254;
    --color-primary-300: 240 171 252;
    --color-primary-400: 232 121 249;
    --color-primary-500: 217 70 239;
    --color-primary-600: 192 38 211;
    --color-primary-700: 162 28 175;
    --color-primary-800: 134 25 143;
    --color-primary-900: 112 26 117;
}
.theme-pink {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 253 242 248;
    --color-primary-100: 252 231 243;
    --color-primary-200: 251 207 232;
    --color-primary-300: 249 168 212;
    --color-primary-400: 244 114 182;
    --color-primary-500: 236 72 153;
    --color-primary-600: 219 39 119;
    --color-primary-700: 190 24 93;
    --color-primary-800: 157 23 77;
    --color-primary-900: 131 24 67;
}
.theme-rose {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 255 241 242;
    --color-primary-100: 255 228 230;
    --color-primary-200: 254 205 211;
    --color-primary-300: 253 164 175;
    --color-primary-400: 251 113 133;
    --color-primary-500: 244 63 94;
    --color-primary-600: 225 29 72;
    --color-primary-700: 190 18 60;
    --color-primary-800: 159 18 57;
    --color-primary-900: 136 19 55;
}

.theme-olive {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 248 249 241;
    --color-primary-100: 236 238 215;
    --color-primary-200: 213 219 172;
    --color-primary-300: 193 200 129;
    --color-primary-400: 183 187 100;
    --color-primary-500: 178 173 85;
    --color-primary-600: 155 143 68;
    --color-primary-700: 129 112 60;
    --color-primary-800: 107 90 53;
    --color-primary-900: 89 76 46;
}

.theme-sunflower {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 250 252 234;
    --color-primary-100:247 250 199;
    --color-primary-200:241 245 147;
    --color-primary-300:237 239 85;
    --color-primary-400:232 225 33;
    --color-primary-500:217 202 25;
    --color-primary-600:187 161 19;
    --color-primary-700:149 118 19; 
    --color-primary-800:124 93 23;
    --color-primary-900:106 76 25;
}

.theme-lightgray {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 255 255 255;
    --color-primary-100:240 240 240;
    --color-primary-200:230 230 230;
    --color-primary-300:204 204 204;
    --color-primary-400:184 184 184;
    --color-primary-500:168 168 168;
    --color-primary-600:158 158 158;
    --color-primary-700:148 148 148;
    --color-primary-800:135 135 135;
    --color-primary-900:125 125 125;
}

.theme-monalisa {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 254 242 242;
    --color-primary-100:255 225 225;
    --color-primary-200:255 200 200;
    --color-primary-300:255 148 148;
    --color-primary-400:253 108 10;
    --color-primary-500:245 62 62;
    --color-primary-600:226 32 32;
    --color-primary-700:190 23 23;
    --color-primary-800:157 23 23;
    --color-primary-900:130 26 26;
}

.theme-coffee {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 251 246 241;
    --color-primary-100:245 235 223;
    --color-primary-200:235 211 189;
    --color-primary-300:222 181 147;
    --color-primary-400:207 144 104;
    --color-primary-500:197 117 74; 
    --color-primary-600:183 97 63;
    --color-primary-700:152 76 54;
    --color-primary-800:123 64 49;
    --color-primary-900:97 52 41;
}

.theme-polo {
    --color-primary-transparent: theme('colors.transparent');
    --color-primary-50: 243 247 250;
    --color-primary-100:233 239 246;
    --color-primary-200:214 225 239;
    --color-primary-300:189 205 228;
    --color-primary-400:162 179 215;
    --color-primary-500:136 152 200;
    --color-primary-600:114 126 185;
    --color-primary-700:97 107 161;
    --color-primary-800:80 89 131;
    --color-primary-900:69 75 106;
}
/* purgecss end ignore */
