@import './_theme.css';
@import './_fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme('backgroundColor.transparent');
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: theme('backgroundColor.transparent');
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('backgroundColor.400');
  }

  .lesson-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .lesson-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme('backgroundColor.200');
  }

  .lesson-scrollbar::-webkit-scrollbar-thumb {
    background: theme('backgroundColor.300');
    border-radius: 100vh;
  }

  .lesson-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('backgroundColor.400');
  }

  .dark-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  .dark-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: theme('colors.gray.700');
  }

  .dark-scrollbar::-webkit-scrollbar-thumb {
    background: theme('colors.gray.700');
    border-radius: 100vh;
  }

  .dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: theme('colors.gray.600');
  }
}

@layer components {
    .theme-btn {
        @apply flex h-8 w-8 items-center justify-center rounded-full p-1 shadow-lg shadow-200
            hover:ring-2 hover:ring-300 focus:outline-none
            md:h-6 md:w-6;
    }
    .google-auth-btn {
        @apply flex items-center bg-white border-[1px] border-slate-300 text-slate-700 rounded-md p-2 outline-none cursor-pointer 
        hover:bg-slate-100 ring-0 focus:outline-none active:outline-none;
    }
    
    .facebook-auth-btn {
        @apply flex items-center bg-blue-500 border-[1px] border-slate-200 text-white rounded-md p-2 outline-none cursor-pointer 
        hover:bg-blue-600 ring-0 focus:outline-none active:outline-none;
    }

    .try-as-guest-btn {
        @apply bg-green-600 border-[1px] border-green-600 text-white rounded-md p-2 outline-none cursor-pointer 
        hover:bg-green-500 hover:border-green-500 ring-0 focus:outline-none active:outline-none;
    }

    .bg-primary {
        @apply bg-200;
    }

    .bg-secondary {
        @apply bg-300/70;
    }

    .border-primary {
        @apply border-[1px] border-400/90;
    }

    .border-secondary {
        @apply border-[1px] border-200;
    }

    .btn-primary {
        @apply bg-primary border-primary rounded-md p-2 text-800 outline-none cursor-pointer hover:bg-400 hover:text-white focus:outline-none active:outline-none dark:hover:bg-gray-800 dark:text-gray-400;
    }

    .dialog-border {
        @apply border-[1px] border-300;
    }
}
